[run]
omit =
	# leading `*/` for pytest-dev/pytest-cov#456
	*/.tox/*

	# local
	*/_vendor/*
	*/tools/*
	*/setuptools/_distutils/*

disable_warnings =
	couldnt-parse

	# local
	*/_validate_pyproject/*  # generated code, tested in `validate-pyproject`

[report]
show_missing = True
exclude_also =
	# jaraco/skeleton#97
	@overload
	if TYPE_CHECKING:
