[run]
omit =
	# leading `*/` for pytest-dev/pytest-cov#456
	*/.tox/*
disable_warnings =
	couldnt-parse

[report]
show_missing = True
exclude_also =
	# Exclude common false positives per
	# https://coverage.readthedocs.io/en/latest/excluding.html#advanced-exclusion
	# Ref jaraco/skeleton#97 and jaraco/skeleton#135
	class .*\bProtocol\):
	if TYPE_CHECKING:
