[flake8]
max-line-length = 88

# jaraco/skeleton#34
max-complexity = 10

extend-exclude =
	build
	setuptools/_vendor
	setuptools/_distutils
	pkg_resources/_vendor

extend-ignore =
	# Black creates whitespace before colon
	E203
