# syntax: glob
# See https://blog.jaraco.com/skeleton/#ignoring-artifacts before modifying.
bin
build
dist
docs/build
include
lib
distribute.egg-info
setuptools.egg-info
setuptools/tests/bdist_wheel_testdata/*/*.egg-info/
.coverage
.eggs
.tox
.venv
*.egg
*.py[cod]
*.swp
*~
.hg*
.cache
.pytest_cache/
.mypy_cache/
