recursive-include setuptools *.py *.txt *.exe
recursive-include tests *.py *.c *.pyx *.txt
recursive-include docs *.py *.txt *.conf *.css *.css_t Makefile
include *.py
include *.txt
include MANIFEST.in
include launcher.c
