recursive-include setuptools *.py *.txt *.exe
recursive-include tests *.py *.c *.pyx
recursive-include docs *.py *.txt Makefile
recursive-include buildout *.py *.txt 
include *.py
include *.txt
include MANIFEST.in
include launcher.c
