recursive-include setuptools *.py *.txt *.exe *.xml
recursive-include tests *.py *.c *.pyx *.txt
recursive-include setuptools/tests *.html entries*
recursive-include setuptools/tests/svn_data *.zip
recursive-include docs *.py *.txt *.conf *.css *.css_t Makefile indexsidebar.html
recursive-include _markerlib *.py
include *.py
include *.txt
include MANIFEST.in
include launcher.c
include msvc-build-launcher.cmd
