[lint]
extend-select = [
	"C901",
	"PERF401",
	"W",
]
ignore = [
	# https://docs.astral.sh/ruff/formatter/#conflicting-lint-rules
	"W191",
	"E111",
	"E114",
	"E117",
	"D206",
	"D300",
	"Q000",
	"Q001",
	"Q002",
	"Q003",
	"COM812",
	"COM819",
	"ISC001",
	"ISC002",
]

[format]
# https://docs.astral.sh/ruff/settings/#format_quote-style
quote-style = "preserve"
