mock==3.0.5
pytest-flake8==1.0.4; python_version!="3.4"
pytest-flake8==1.0.0; python_version=="3.4"
virtualenv==16.5.0
pytest-virtualenv==1.6.0
pytest==3.10.1
wheel==0.33.4
coverage==4.5.1
pytest-cov==2.5.1
paver==1.3.4; python_version>="3.6"
futures==3.1.1; python_version=="2.7"
pip==18.1  # Temporary workaround for #1644.
